.displayed {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-top: 5px solid #227c9d;
    border-right: 5px solid  #227c9d;
    border-bottom: 5px solid  #227c9d;
    border-left: 5px solid  #227c9d;  
    display: inline;
    float: left;

        }
     
#menu ul li {
padding: 2px 10px;
text-align: center;
    
}

body {
    background-color: #fef9ef;
  }
  p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-style: italic;
    line-height: 45px;
    color: #fe6d73;
    font-size: 20px; 
    background-color: #17c3b2;
    text-align:center;
      
}
h1, h3 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    font-style: italic;
    color: #fe6d73;
    font: bolder;
    background-color: #17c3b2;
    

}



