.displayed {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-top: 5px solid #fe6d73;
    border-right: 5px solid  #fe6d73;
    border-bottom: 5px solid  #fe6d73;
    border-left: 5px solid  #fe6d73;  
    display: inline;
    float: left;

        }
     
#menu ul li {
padding: 2px 10px;
text-align: center;
    
}
#menu ol li {
    padding: 2px 10px;
    text-align: center;
    
}
body {
    background-color: #ffd670;
  }
  p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-style: italic;
    line-height: 45px;
    color: #fe6d73;
    font-size: 20px; 
    background-color: #70d6ff;
    text-align:center;
    
      
}
h1, h3 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    font-style: italic;
    color: #fe6d73;
    font: bolder;
    background-color: #70d6ff;
    

}



